html, body {
   margin: 0;
   height: 100%;
   margin: 0;
}
#canvas {
   width: 80%;
   height: 100%;
   display: inline-block;
}
#controls {
   color: #fff;
   width: 20%;
   height: 100%;
   background-color: rgb(148, 37, 17);
   float: right;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}